body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
}

.formContainer {
  width: 300px;
  margin: 10%;
  background-color: grey;
  padding: 20px;
}

input{
  margin-top: 10px;
  width: 250px;
  padding: 15px;
  font-size: 16px;
}

label {
  display: flex;
  justify-content: flex-start;
}

.button{
  text-align: center;
  width: 100px;
}
